/* common */
@font-face {
  font-family: OswaldBold;
  src: url("https://files.eyee.com/eyeeh5/font/Oswald.otf");
}

* {
  margin: 0 0;
}

html {
  user-select: none;
  cursor: default;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  max-width: 960px;
  min-width: 320px;
  overflow-x: hidden;
  margin: 0 auto;
  padding-bottom: 15 * $px;
  font-size: 14 * $px; // 相对根字体设置基础字体 14px
  font-weight: 400;
  // color: $color-23;
}
body.lock {
  overflow: hidden;
}

i,
em {
  font-style: normal;
}

button,
input {
  border: none;
  outline: none;
  padding: 0;
}

div {
  box-sizing: border-box;
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  html {
    height: 812px !important;
    width: 375px !important;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  html {
    width: 812px !important;
    height: 375px !important;
  }
}
.avatar {
  $size: 32 * $px;
  width: $size;
  height: $size;
  border-radius: 100%;
  overflow: hidden;
}
.gap {
  border-bottom: 5 * $px solid #f5f5f5;
}

.subtxt {
  color: $color-96;
  font-size: 10 * $px;
  line-height: 14 * $px;
}

.sec-title {
  line-height: 24 * $px;
  font-size: 17 * $px;
  font-weight: 500;
}

.btn-open-app {
  $height: 32 * $px;
  margin: 0 15 * $px;
  width: 90%;
  line-height: $height;
  font-weight: bold;
  border-radius: 2px;
  background-color: $color-red;
  color: #fff;
}

.txt-center {
  text-align: center;
}

.go-app-hint {
  display: none;
  z-index: 1099;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  img {
    position: absolute;
    top: 12 * $px;
    right: 30 * $px;
    width: 215 * $px;
  }
}

.flex,
[class*=" flex-"],
[class^="flex-"] {
  display: flex;
}
.flex-between-start {
  justify-content: space-between;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.flex-aic {
  justify-content: flex-start;
  align-items: center;
}
.flex-tops {
  justify-content: flex-start;
  align-items: end;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-end {
  justify-content: flex-end !important;
  align-items: center;
}
.flex-between {
  justify-content: space-between;
  align-items: center;
}
.flex-around {
  justify-content: space-around;
  align-items: center;
}
.flex-ctr-end {
  justify-content: center;
  align-items: flex-end;
}

.font-Oswald {
  font-family: OswaldBold;
}

.nut-hor-scroll .nut-hor-list {
  padding-right: 60px;
}
.txt-over,
[class*="--txt-over"] {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

[class*="--txt-over-"],
.txt-over-2,
.txt-over-3 {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  max-width: 100%;
  white-space: normal;
}
[class*="--txt-over-2"],
.txt-over-2 {
  -webkit-line-clamp: 2 !important;
}
.txt-over-3 {
  -webkit-line-clamp: 3;
}
.fontBold {
  font-weight: bold;
}
.header-top {
  padding-top: 50 * $px;
}

.padding-15 {
  padding-left: 15 * $px;
  padding-right: 15 * $px;
}
.contentBox {
  padding-bottom: 20 * $px;
}
.gap-line {
  border-bottom: 10 * $px solid #fafafa;
}
.content img {
  max-width: 100%;
}

.emptyBox {
  width: 38 * $px;
  height: 38 * $px;
  line-height: 36 * $px;
  border: solid 1 * $px #3c3c3c;
  border-radius: 100%;
  text-align: center;
  font-size: 12 * $px;
  background: #3c3c3c;
  i {
    display: inline-block;
    width: 4 * $px;
    height: 4 * $px;
    background: $color-96;
    border-radius: 50%;
    &:nth-child(2) {
      margin: 0 4 * $px;
    }
  }
}
.goApp {
  p {
    height: 45 * $px;
    line-height: 45 * $px;
    background: #fa2337;
    color: #fff;
    font-size: 16 * $px;
    font-weight: 600;
    text-align: center;
    border-radius: 2 * $px;
  }
}
/* common end */

/* reset */

/* reset */
