@mixin ellipsis($line:2) {
  overflow: hidden;
  text-overflow: ellipsis;
  @if $line>1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }
  @else {
    white-space: nowrap;
  }
}

@mixin flex($direction: row, $a:flex-start, $c:center, $wrap: wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $a;
  align-items: $c;
  flex-wrap: $wrap;
}

@mixin text($a, $color, $align: left, $weight: 500) {
  font-size: $a;
  color: $color;
  text-align: $align;
  font-weight: $weight;
}